<!--
  Generated template for the FicheFraisDetailPage page.
  
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
  <ion-navbar  color="blue">
    <ion-title>{{moisLibelle[fiche.mois - 1]}} {{fiche.annee}}</ion-title>
  </ion-navbar>
  
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-list-header>
      Frais forfaitisés ({{totalFraisForfaitises}}) <!-- <span item-end>250€</span> -->
    </ion-list-header>
    <ion-item *ngFor="let fraisforfaitise of fraisForfaitises">
      {{fraisforfaitise.quantite}}x {{fraisforfaitise.libelle}} 
      <span item-end>
        {{fraisforfaitise.quantite * fraisforfaitise.montant}}€
      </span>
      <span *ngIf="fraisforfaitise.etat == 1" item-end>
        <ion-icon name="checkmark" color="secondary"></ion-icon>
      </span>
      <span *ngIf="fraisforfaitise.etat == 2" item-end>
        <ion-icon name="close" color="danger"></ion-icon>
      </span>
    </ion-item>
  </ion-list>
  
  <br><br>
  
  <ion-list>
    <ion-list-header>
      Frais non forfaitisés ({{totalFraisNonForfaitises}})
    </ion-list-header>
    <ion-item *ngFor="let fraisNonForfaitise of fraisNonForfaitises">
      {{fraisNonForfaitise.libelle}} 
      <span item-end>{{fraisNonForfaitise.montant}}€</span>
      <span *ngIf="fraisNonForfaitise.etat == 1" item-end>
        <ion-icon name="checkmark" color="secondary"></ion-icon>
      </span>
      <span *ngIf="fraisNonForfaitise.etat == 2" item-end>
        <ion-icon name="close" color="danger"></ion-icon>
      </span>
    </ion-item>
  </ion-list>
  
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>
      Total : {{total}}€
    </ion-title>
  </ion-toolbar>
</ion-footer>
